<div class="card border-dark mb-3" style="max-width: 100%; background-color: rgb(234, 208, 255)">
    <div class="card-header" style="background-color: rgb(202, 164, 233); font-size: 20px;">Header</div>
    <div class="row mt-3 mb-3 ">

        <div class="col-md-3 text-center ">
            <a [routerLink]="[ '/materiaprima'] ">
                <img src="../../../assets/img/butter.png " class="text-center " width="150 " height="150 " alt="... ">
            </a>

        </div>
        <div class="col-md-6 ">

            <div class="card-body text-dark ">
                <h5 class="card-title ">Primary card title</h5>
                <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <button class="btn btn-primary btn-md"> Entrar </button>
            </div>
        </div>
    </div>
</div>

<div class="card border-dark mb-3" style="max-width: 100%; background-color: rgb(234, 208, 255)">
    <div class="card-header" style="background-color: rgb(202, 164, 233); font-size: 20px;">Header</div>
    <div class="row mt-3 mb-3 ">

        <div class="col-md-3 text-center ">
            <a [routerLink]="[ '/materiaprima'] ">
                <img src="../../../assets/img/butter.png " class="text-center " width="150 " height="150 " alt="... ">
            </a>

        </div>
        <div class="col-md-6 ">

            <div class="card-body text-dark ">
                <h5 class="card-title ">Primary card title</h5>
                <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.

                </p>
                <button class="btn btn-primary btn-md"> Entrar </button>
            </div>
        </div>
    </div>
</div>

<div class="card border-dark mb-3" style="max-width: 100%; background-color: rgb(234, 208, 255)">
    <div class="card-header" style="background-color: rgb(202, 164, 233); font-size: 20px;">Header</div>
    <div class="row mt-3 mb-3 ">

        <div class="col-md-3 text-center ">
            <a [routerLink]="[ '/materiaprima'] ">
                <img src="../../../assets/img/butter.png " class="text-center " width="150 " height="150 " alt="... ">
            </a>

        </div>
        <div class="col-md-6 ">

            <div class="card-body text-dark ">
                <h5 class="card-title ">Primary card title</h5>
                <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.

                </p>
                <button class="btn btn-primary btn-md"> Entrar </button>
            </div>
        </div>
    </div>
</div>



<div class="card-columns ">

    <div class="card text-white text-center p-1 animated fadeIn " style="background-color: rgb(234, 208, 255) ">
        <a [routerLink]="[ '/materiaprima'] ">
            <img src="../../../assets/img/butter.png " width="150 " height="150 " alt="... ">
        </a>
        <div class="card-body ">
            <h5 class="card-title " style="color:rgb(158, 91, 179) ">Materia Prima</h5>
            <p class="card-text ">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text "><small class="text-muted ">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card text-white text-center p-1 animated fadeIn " style="background-color: rgb(234, 208, 255) ">
        <a [routerLink]="[ '/materiaprima'] ">
            <img src="../../../assets/img/butter.png " width="150 " height="150 " alt="... ">
        </a>
        <div class="card-body ">
            <h5 class="card-title " style="color:rgb(158, 91, 179) ">Materia Prima</h5>
            <p class="card-text ">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text "><small class="text-muted ">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card text-white text-center p-1 animated fadeIn " style="background-color: rgb(234, 208, 255) ">
        <a [routerLink]="[ '/recetas'] ">
            <img src="../../../assets/img/baker.png " width="150 " height="150 " alt="... ">
        </a>
        <div class="card-body ">
            <h5 class="card-title " style="color:rgb(158, 91, 179) ">Recetas</h5>

            <p class="card-text ">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text "><small class="text-muted ">Last updated 3 mins ago</small></p>
        </div>

    </div>






</div>