<div class="card-columns ">

    <div class="card text-white text-center p-1 animated fadeIn " style="background-color: rgb(234, 208, 255) ">
        <a [routerLink]="[ '/materiaprima'] ">
            <img src="../../../assets/img/butter.png " width="150 " height="150 " alt="... ">
        </a>
        <div class="card-body ">
            <h5 class="card-title " style="color:rgb(158, 91, 179) ">Materia Prima</h5>
            <p class="card-text ">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text "><small class="text-muted ">Last updated 3 mins ago</small></p>
        </div>
    </div>

    <div class="card text-white text-center p-1 animated fadeIn " style="background-color: rgb(234, 208, 255) ">
        <a [routerLink]="[ '/recetas'] ">
            <img src="../../../assets/img/baker.png " width="150 " height="150 " alt="... ">
        </a>
        <div class="card-body ">
            <h5 class="card-title " style="color:rgb(158, 91, 179) ">Recetas</h5>

            <p class="card-text ">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text "><small class="text-muted ">Last updated 3 mins ago</small></p>
        </div>

    </div>



</div>