<a class="navbar-brand" style="font-size: 45px;" href="#">
    <img src="assets/img/baker.png" width="65" height="65" class="d-inline-block align-top" alt=""> Torta de Piña
</a>
<br>
<br>
<table class="table table-hover">
    <thead>
        <tr style="text-align: center">
            <th scope="col">Codigo</th>
            <th scope="col">Descripción</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Costo</th>
            <th scope="col">Costo x Unidad</th>
            <th scope="col">Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr style="text-align: center">
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td> <button class="btn btn-primary btn-sm"> Modificar </button>
                <button class="btn btn-danger btn-sm" style="margin-left: 10px;"> Eliminar </button></td>
        </tr>
        <tr style="text-align: center">
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>@mdo</td>
            <td> <button class="btn btn-primary btn-sm"> Modificar </button>
                <button class="btn btn-danger btn-sm" style="margin-left: 10px;"> Eliminar </button></td>
        </tr>
        <tr style="text-align: center">
            <th scope="row">3</th>
            <td>Larry the Bird</td>
            <td>Larry the Bird</td>
            <td>@twitter</td>
            <td>@mdo</td>
            <td> <button class="btn btn-primary btn-sm"> Modificar </button>
                <button class="btn btn-danger btn-sm" style="margin-left: 10px;"> Eliminar </button></td>
        </tr>


    </tbody>


</table>
