<a class="navbar-brand" style="font-size: 45px;" href="#">
    <img src="assets/img/baker.png" width="65" height="65" class="d-inline-block align-top" alt=""> Recetas
</a>
<button class="btn btn-primary btn-md" [routerLink]="['/recetaform']" style="margin-top:-15px;"> Crear </button>
<br>
<br>
<div class="card-columns" style="margin-bottom: 50px;">
    <div class="card" style="background-color: rgb(255, 224, 245)">
        <div class="text-center" style="margin-top: 10px">
            <img src="../../../assets/img/cream.png" width="80" height="80" alt="...">
        </div>

        <div class="card-body">
            <h4 class="card-title">Torta de Piña</h4>
            <span>Tiempo de Horneado: 60 Minutos</span> <br>
            <span>Tipo de Horno: Electrico</span><br>
            <span>Costo: 10.000 $</span> <br>
            <span>Utilidad: 5.000 $</span>
            <div class="text-center" style="margin-top:15px;">
                <a [routerLink]="['/receta','1']" class="btn btn-primary ">Ver Receta</a>
            </div>

        </div>
    </div>
    <div class="card" style="background-color: rgb(255, 224, 245)">
        <div class="text-center" style="margin-top: 10px">
            <img src="../../../assets/img/cream.png" width="80" height="80" alt="...">
        </div>

        <div class="card-body">
            <h4 class="card-title">Torta de Chocolate</h4>
            <span>Tiempo de Horneado: 60 Minutos</span> <br>
            <span>Tipo de Horno: Electrico</span><br>
            <span>Costo: 10.000 $</span> <br>
            <span>Utilidad: 5.000 $</span>
            <div class="text-center" style="margin-top:15px;">
                <a href="#" class="btn btn-primary ">Ver Receta</a>
            </div>

        </div>
    </div>
    <div class="card" style="background-color: rgb(255, 224, 245)">
        <div class="text-center" style="margin-top: 10px">
            <img src="../../../assets/img/cream.png" width="80" height="80" alt="...">
        </div>

        <div class="card-body">
            <h4 class="card-title">Torta de Chocolate</h4>
            <span>Tiempo de Horneado: 60 Minutos</span> <br>
            <span>Tipo de Horno: Electrico</span><br>
            <span>Costo: 10.000 $</span> <br>
            <span>Utilidad: 5.000 $</span>
            <div class="text-center" style="margin-top:15px;">
                <a href="#" class="btn btn-primary ">Ver Receta</a>
            </div>

        </div>
    </div>
    <div class="card" style="background-color: rgb(255, 224, 245)">
        <div class="text-center" style="margin-top: 10px">
            <img src="../../../assets/img/cream.png" width="80" height="80" alt="...">
        </div>

        <div class="card-body">
            <h4 class="card-title">Torta de Chocolate</h4>
            <span>Tiempo de Horneado: 60 Minutos</span> <br>
            <span>Tipo de Horno: Electrico</span><br>
            <span>Costo: 10.000 $</span> <br>
            <span>Utilidad: 5.000 $</span>
            <div class="text-center" style="margin-top:15px;">
                <a href="#" class="btn btn-primary ">Ver Receta</a>
            </div>

        </div>
    </div>
    <div class="card" style="background-color: rgb(255, 224, 245)">
        <div class="text-center" style="margin-top: 10px">
            <img src="../../../assets/img/cream.png" width="80" height="80" alt="...">
        </div>

        <div class="card-body">
            <h4 class="card-title">Torta de Chocolate</h4>
            <span>Tiempo de Horneado: 60 Minutos</span> <br>
            <span>Tipo de Horno: Electrico</span><br>
            <span>Costo: 10.000 $</span> <br>
            <span>Utilidad: 5.000 $</span>
            <div class="text-center" style="margin-top:15px;">
                <a href="#" class="btn btn-primary ">Ver Receta</a>
            </div>

        </div>
    </div>
    <div class="card" style="background-color: rgb(255, 224, 245)">
        <div class="text-center" style="margin-top: 10px">
            <img src="../../../assets/img/cream.png" width="80" height="80" alt="...">
        </div>

        <div class="card-body">
            <h4 class="card-title">Torta de Chocolate</h4>
            <span>Tiempo de Horneado: 60 Minutos</span> <br>
            <span>Tipo de Horno: Electrico</span><br>
            <span>Costo: 10.000 $</span> <br>
            <span>Utilidad: 5.000 $</span>
            <div class="text-center" style="margin-top:15px;">
                <a href="#" class="btn btn-primary ">Ver Receta</a>
            </div>

        </div>
    </div>
</div>
